<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="nb"> <!--<![endif]-->
    <head>
        {{> head }}
    </head>

    <body class="alt {{body-class}}">
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    	<main class="content-container">
            <div class="{{default content 'content'}}">
                {{#import-scripts}}{{/import-scripts}}
                {{> body }}
            </div>
        </main>

        <!-- JS and analytics only. -->
        {{> javascripts }}
    </body>
</html>