---
title: Home
body-class: index
---

<div class="content">
	{{! The 'index' in 'index.hello' is the filename in the data folder }}
	<h1>hello, {{ index.hello }}!</h1>
</div>

{{#import-scripts}}
<script src="/js/template/index.js"></script>
{{/import-scripts}}