<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{default description site.description}}">
<meta name="author" content="{{default author site.author}}">

<title>{{default title 'Title'}} | {{site.title}}</title>

<!-- Stylesheets -->

<link rel="stylesheet" href="/css/app.css">

<!-- Scripts -->

{{!-- Modernizr --}}
<script src="/js/vendor/modernizr.custom.35992.js"></script>

<!-- Map: Should only be included when map is present -->
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="http://leaflet.github.io/Leaflet.label/leaflet.label.js"></script>

{{#if production}}

{{/if}}

<!-- Favicons -->
<!--
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ assets }}/ico/apple-touch-icon-144-precomposed.png">
<link rel="shortcut icon" href="{{ assets }}/ico/favicon.png">
<link rel="shortcut icon" href="favicon.ico">
-->
