/*********
## Core ##
*********/

html, 
body {
	font-size: 100%;
	height: 100%;
}

body
{
	font-family: $body-font-family;
	font-weight: 400;
}

h1 {
	font-family: $header-font-family;
	font-weight: 400;
	font-size: rem-calc(26);
}

.content{
	text-align: center;
}